.header {
    overflow: hidden;
    background-color: #3EA8A6;
    height: 50px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    margin: 8px 0px 0px 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 4px;
}
.header a:hover {
    background-color: #379593;
    color: whitesmoke;
}